@model IEnumerable<issHospital_Utility.DTOs.CustomerSetupDTO>


@{
    ViewBag.Title = "Create";
    ViewData["Title"] = " customerSetup-Add";
}

@using (Html.BeginForm())
 {

    @Html.AntiForgeryToken()

   <div class="col-md-12 center-block" style="text-align:center;">
      <div class="col-md-6 center-block">
        <div class="col-md-4"> <label>Code</label> </div>
        <div class="col-md-8"> <input type="number" id="Code" name="Code" /></div>
      </div>
      <div class="col-md-6 center-block">
        <div class="col-md-4"><label>OB</label></div>
        <div class="col-md-8"><input type="text" id="OB" name="OB" /></div>
      </div>
      <div class="col-md-6 center-block">
        <div class="col-md-4"><label>Ccode</label></div>
        <div class="col-md-8"><input type="number" id="Ccode" name="Ccode" /></div>
      </div>
      <div class="col-md-6 center-block">
        <div class="col-md-4"><label>Name</label></div>
        <div class="col-md-8"><input type="text" id="Name" name="Name" /></div>
      </div>
      <div class="col-md-6 center-block">
        <div class="col-md-4"><label>CPhone</label></div>
        <div class="col-md-8"><input type="number" id="CPhone" name="CPhone" /></div>
      </div>

      <div class="col-md-6 center-block">
        <input type="submit" value="Add" />
      </div>


   </div>
 }






