@model IEnumerable<issHospital_Utility.DTOs.DeptDTO>


@{
    ViewBag.Title = "Create";
    ViewData["Title"] = " Dept-Add";
}


@using (Html.BeginForm())
 {

    @Html.AntiForgeryToken()

  <div class="col-md-12 center-block" style="text-align:center;">
    <div class="col-md-6 center-block">
        <div class="col-md-4"><label>Department</label></div>
        <div class="col-md-8"><input type="text" id="Department" name="Department" /></div>
    </div>
    <div class="col-md-6 center-block">
        <div class="col-md-4"><label>Description</label></div>
        <div class="col-md-8"><input type="text" id="Description" name="Description" /></div>
    </div>

    <div class="col-md-6 center-block">
        <input type="submit" value="Add" />
    </div>
  </div>


 }
