@model IEnumerable<issHospital_Repo.Models.TblReceipt>


@{ ViewBag.Title = "Create";
    ViewData["Title"] = " Recepit-Add"; }

<style>
    .header {
        margin-top: 10px;
        border-top-style: solid;
        border-top-width: 5px;
        border-top-color: #ff5f04;
        font-family: Calibri;
        font-size: 22px;
    }

    .addNew {
        padding: 5px;
        background-color: #00bfff;
        color: white;
        float: right !important;
        margin: 10px;
        border-radius: 3px;
        text-decoration: none;
        width: 10%;
    }


        .addNew:hover {
            text-decoration: none;
        }
</style>

<div class="card mb-3" style="margin-top: 6%;">
    <div class="card-body">
        <div class="row flex-between-center">
            <div class="col-sm-auto mb-2 mb-sm-0">
                <h3 class="mb-0">
                    Receipt - Create page
                </h3>
            </div>


        </div>
    </div>
</div>

<div class="card mb-3" style="margin-top: 1%;">
    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()
        <div class="card-body form-group">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-lg-4" style="text-align:left;font-weight:600;">Amount</div>
                    <div class="col-lg-3" style="text-align:center">  </div>
                    <div class="col-lg-4"><input type="number" id="Amount" name="Amount" class="form-control col-md-3" style="width:560px;" /> </div>

                </div>
                <div class="col-md-6">
                    <div class="col-lg-4" style="text-align:left;font-weight:600;">Age</div>
                    <div class="col-lg-3" style="text-align:center">  </div>
                    <div class="col-lg-4"><input type="number" id="Age" name="Age" class="form-control col-md-3" style="width:560px;" /> </div>

                </div>
                <div class="col-md-6">
                    <div class="col-lg-4" style="text-align:left;font-weight:600;">Name</div>
                    <div class="col-lg-3" style="text-align:center">  </div>
                    <div class="col-lg-4"><input type="text" id="Name" name="Name" class="form-control col-md-3" style="width:560px;" /> </div>

                </div>

                <div class="col-md-6">
                    <div class="col-lg-4" style="text-align:left;font-weight:600;">Doctor</div>
                    <div class="col-lg-3" style="text-align:center">  </div>
                    <div class="col-lg-4"><input type="text" id="Doctor" name="Doctor" class="form-control col-md-3" style="width:560px;" /> </div>

                </div>
            </div>
            <br />


                 <div class="row">
                    <div class="col-12 bottom-btn-group" style="text-align:center;">
                    <input type="submit" class="btn btn-success " value="Submit" />

                    </div>
                 </div>

        </div>


    }

</div>